.book-list ul {
	padding: 0;
	margin: 20px -20px;
	list-style: none;
}

.book-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	transition: all 0.2s ease-in;

	padding: 10px 20px;
	/* border-bottom: 1px solid #ffffff; */
	background-color: #787681;
	list-style-type: none;
	border-radius: 10px;
	margin: 10px;
}

.book-list li:nth-child(even) {
	background-color: #ffffffde;
	color: black;
}

.book-list li:nth-child(even) .book-info,
.book-list li:nth-child(even) span {
	color: black;
}

.book-list li:hover {
	background-color: #8697bd;
}

.book-list button {
	background-color: #fff;
	color: red;
	border: 1px solid red;
	padding: 8px 12px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.book-list button:hover {
	background-color: #fdd;
}

.highlight {
	background-color: rgba(38, 161, 243, 0.623);
	border-radius: 5px;
}

.book-list .book-info {
	flex: 1;
	text-align: left;
}

.book-list .book-actions {
	display: flex;
	align-items: center;
}

.ico {
	font-size: 24px;
	padding: 0px;
	margin: 0px;
	font-size: 1.5rem;
	cursor: pointer;
	padding-inline: 5px;
	transition: 0.2s all ease-in-out;
}

.delete-ico:hover {
	color: rgb(250, 118, 118);
}

.favorite-ico:hover,
.added-favorite-ico:hover {
	color: #fac66dfd;
}

.added-favorite-ico {
	color: #fca510;
}
