.filter-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter-group {
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 10px;
}

.filter input[type='text'] {
	width: 50%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.reset-ico:hover {
	color: #007bff;
}

.show-favourite-ico:hover {
	color: rgb(253, 218, 104)
}

@media screen and (max-width: 1024px) {
	.filter-row {
		flex-direction: column;
		align-items: stretch;
	}

	.filter-group {
		width: 100%;
		margin: auto;
		margin-bottom: 10px;
	}

	.filter button {
		margin: 10px auto 0;
		max-width: 50%;
	}
}
